PORT=5000
MONGO_URI=mongodb://localhost:27017/bitcoin_utxo
CLIENT_URL=http://localhost:5173
BLOCKSTREAM_API=https://blockstream.info/api
MEMPOOL_API=https://mempool.space/api
CACHE_TTL=300
NODE_ENV=development
